<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>紫鉄艦隊</title>
  <link rel="icon" href="/img/favicon.ico">
  <link rel="stylesheet" href="/css/style.css?v=1">
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
  <header>
    
  </header>
  <main>
    <div class="user-info">
      <% if @user %>
        <div class="user-name">
          <%= @user.name %>
        </div>
        <div class="user-stats">
          <span class="stat">Lv:<%= @user.level %></span>
          <span class="stat">Exp:<%= @user.exp %></span>
        </div>
      <% else %>
        <p>ログインしてください</p>
      <% end %>
    </div>

    
    <form action="/home/freet" method="post">
      <input type="text" name="name" placeholder="艦名">
      <input type="int" name="hp" placeholder="HP">
      <input type="int" name="atk" placeholder="攻撃">
      <input type="text" name="info" placeholder="情報">
      <input type="submit" value="新規登録">
    </form>
    <button id="toggle-storys">表示する</button>
    <div class="storys" style="display: none;">
      <form action="/home/battle" method="post">
        <button type="submit" name="story" value="0">バトル</button>
        <button type="submit" name="story" value="1">バトル</button>
      </form>
      <form action="/home/story" method="post">
        <!input type="submit" value="第0話">
        <button type="submit" name="story" value="0">第0話</button>
        <button type="submit" name="story" value="1">第1話</button>
      </form>
    </div>
    
    <button id="toggle-units">表示する</button>
    <div class="units" style="display: none;">
      <% @freets.each do |freet| %>
        <div class="unit">
          <p><%= freet['myfreet']['name'] %></p>
          <p>Lv：<%= freet['level'] %>Exp：<%= freet['exp'] %></p>
          <p>HP：<%= freet['myfreet']['hp'] %></p>
          <p>攻撃：<%= freet['myfreet']['atk'] %></p>
          <p>情報：<%= freet['myfreet']['info'] %></p>
          <form action="/home/levelup" method="post">
            <input type="hidden" name="unit_id" value="<%= freet['id'] %>">
            <button type="submit">レベルアップ</button>
          </form>
        </div>
      <% end %>
    </div>
    <div id="sortie-overlay" class="sortie-overlay">
      <div class="sortie-overlay-content">
        <h2>出撃メニュー</h2>
        <button class="sortie-menu-button" data-mode="story">ストーリー（バトル含む）</button>
        <button class="sortie-menu-button" data-mode="battle">バトル（素材集め）</button>
        <button class="sortie-menu-button" data-mode="event">イベント（準備中）</button>
        <button id="sortie-close" class="sortie-close-button">閉じる</button>
      </div>
    </div>
    <div id="story-overlay" class="story-overlay">
      <div class="story-overlay-content">
        <h2>ストーリー選択</h2>
        <form action="/home/story" method="post">
          <button type="submit" name="story" value="0" class="story-button">第0話（バトル）</button>
          <button type="submit" name="story" value="1" class="story-button">第1話（バトル）</button>
        </form>
        <button id="story-close" class="story-close-button">閉じる</button>
      </div>
    </div>
    <button id="sortie-button" class="sortie-button">出撃</button>
  </main>
  <script src="/js/home.js"></script>
</body>
</html>