<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>紫鉄艦隊</title>
  <link rel="icon" href="/img/favicon.ico">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="question-view">
  <header>
    
  </header>
  <main>
    <p></p>
    <div class="signinup">
      <% if @user %>
        <p><%= @user.name %>　Lv:<%= @user.level %>　Exp:<%= @user.exp %></p>
      <% else %>
        <p>ログインしてください</p>
      <% end %>
    </div>
    
    <form action="/home/freet" method="post">
      <input type="text" name="name" placeholder="艦名">
      <input type="int" name="hp" placeholder="HP">
      <input type="int" name="atk" placeholder="攻撃">
      <input type="text" name="info" placeholder="情報">
      <input type="submit" value="新規登録">
    </form>
    <button id="toggle-storys">表示する</button>
    <div class="storys" style="display: none;">
      <form action="/home/battle" method="post">
        <button type="submit" name="story" value="0">バトル</button>
        <button type="submit" name="story" value="1">バトル</button>
      </form>
      <form action="/home/story" method="post">
        <!input type="submit" value="第0話">
        <button type="submit" name="story" value="0">第0話</button>
        <button type="submit" name="story" value="1">第1話</button>
      </form>
    </div>
    
    <button id="toggle-units">表示する</button>
    <div class="units" style="display: none;">
      <% @freets.each do |freet| %>
        <div class="unit">
          <p><%= freet['myfreet']['name'] %></p>
          <p>Lv：<%= freet['level'] %>Exp：<%= freet['exp'] %></p>
          <p>HP：<%= freet['myfreet']['hp'] %></p>
          <p>攻撃：<%= freet['myfreet']['atk'] %></p>
          <p>情報：<%= freet['myfreet']['info'] %></p>
          <form action="/home/levelup" method="post">
            <input type="hidden" name="unit_id" value="<%= freet['id'] %>">
            <button type="submit">レベルアップ</button>
          </form>
        </div>
      <% end %>
    </div>

    <script>
      const toggleUnitsButton = document.getElementById('toggle-units');
      const unitsDiv = document.querySelector('.units');

      toggleUnitsButton.addEventListener('click', () => {
        if (unitsDiv.style.display === 'none') {
          unitsDiv.style.display = 'block'; // 表示
          toggleUnitsButton.textContent = '隠す'; // ボタンテキスト変更
        } else {
          unitsDiv.style.display = 'none'; // 非表示
          toggleUnitsButton.textContent = '表示する'; // ボタンテキスト変更
        }
      });

      const toggleStorysButton = document.getElementById('toggle-storys');
      const storysDiv = document.querySelector('.storys');

      toggleStorysButton.addEventListener('click', () => {
        if (storysDiv.style.display === 'none') {
          storysDiv.style.display = 'block'; // 表示
          toggleStorysButton.textContent = '隠す'; // ボタンテキスト変更
        } else {
          storysDiv.style.display = 'none'; // 非表示
          toggleStorysButton.textContent = '表示する'; // ボタンテキスト変更
        }
      });
    </script>
  </main>
</body>
</html>