<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>紫鉄艦隊</title>
  <link rel="icon" href="/img/favicon.ico">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="">
  <% if @finaresult == "勝利" %>
    <p>勝利！</p>
  <% elsif @finaresult == "敗北" %>
    <p>敗北</p>
  <% end %>
  <div class="unitss">
    <div class="units">
      <p>味方ユニット</p>
      <% @my_units.each do |freet| %>
        <div class="unit">
          <div>
            <div class="hp-bar">
              <div class="hp-bar-fill" data-id="<%= freet['myfreet']['id'] %>" data-hp="<%= freet['myfreet']['hp'] %>" data-max-hp="<%= freet['myfreet']['max_hp'] %>"></div>
            </div>
          </div>
          <p><%= freet['myfreet']['name'] %></p>
          <p>Lv：<%= freet['level'] %>EXP：<%= freet['exp'] %></p>
          <p>HP：<%= freet['myfreet']['hp'] %>/<%= freet['myfreet']['max_hp'] %></p>
          <p>攻撃：<%= freet['myfreet']['atk'] %></p>
          <p>情報：<%= freet['myfreet']['info'] %></p>
        </div>
      <% end %>
    </div>
  </div>
  <form action="/home" method="get">
    <input type="submit" value="戻る">
  </form>
</body>
</html>